EMAIL=noname@okestro.com
PASSWORD=*******
IGNORE_TOPICS=[오케스트로], 잔디 사용법 # ignore topic [title]
IGNORE_CHATS=JANDI (나와의 대화)        # ignore chat / DM 

NUM_PAGEUP  = 10
MAX_RETRY   = 5
HEADLESS    = false                          # 'true' | 'false', healess mean for no browser simulation
VERBOSE     = false 